.neon-text {
    margin-top: 1em;
    font-size: 4em;
    color: #fff;
    text-shadow: 0 0 2px #ff005e, 0 0 4px #ff005e, 0 0 8px #ff005e, 0 0 16px #ff005e;
    animation: glow 8s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 2px #ff005e, 0 0 6px #ff005e;
    }
    50% {
        text-shadow: 0 0 2px #00ff00, 0 0 6px #00ff00;
    }
    100% {
        text-shadow: 0 0 2px #00d4ff, 0 0 6px #00d4ff;
    }
}


.statement {
  font-size: 1.5rem;
  line-height: 1.6;
}
