#experience h1 {
  border-bottom: 2px solid #e0e7ff;
  padding-bottom: 0.3rem;
  display: inline-block;
}

#experience img:hover {
  transform: scale(1.2);
  transition-duration: 100ms;
}

.company {
  font-weight: 1000;
  color: #d97823;
}

.experience-description {
  margin-top: 0.5rem;
  color: #e0e7ff;
  font-size: 1.25rem;
  line-height: 3;
  letter-spacing: 0.5px;
}

.images {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
